@model Przepisy.Data.Data.Przepisy.Przepis

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Przepis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tytul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tytul)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KrotkiOpis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KrotkiOpis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpisWykonania)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpisWykonania)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trudnosc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trudnosc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlZdjecia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlZdjecia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CzyAktywny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CzyAktywny)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SredniaOcena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SredniaOcena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor.Haslo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kuchnia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kuchnia.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrupaPrzepisu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrupaPrzepisu.Nazwa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPrzepisu" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
