@model Przepisy.Data.Data.Uzytkownicy.UlubionyPrzepis

@{
    ViewData["Title"] = "Delete";
    var nazwaWidoku = "Usuń wpis";
}

<div class="w-full">

    <div class="hero bg-base-200 pb-3 pt-3 w-full">
        <div class="hero-content text-center is-warning">
            <div class="max-w-md">
                <h1 class="text-5xl font-bold mb-3">@nazwaWidoku</h1>
            </div>
        </div>
    </div>
    <div>
        <div role="alert" class="alert alert-warning mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
            </svg>
            <span>Czy na pewno chcesz usunąć poniższy wpis?</span>
        </div>



        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4">
        <div><p class="font-bold text-sm text-gray-500">
            @Html.DisplayNameFor(model => model.Uzytkownik)
        </p>
        <p class="text-base">
            @Html.DisplayFor(model => model.Uzytkownik.NazwaUzytkownika)
        </p></div>
        <div><p class="font-bold text-sm text-gray-500">
            @Html.DisplayNameFor(model => model.Przepis)
        </p>
        <p class="text-base">
            @Html.DisplayFor(model => model.Przepis.Tytul)
        </p></div>
        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-error" /> |
            <a class="btn btn-secondary" asp-action="Index">Powrót do listy</a>
        </form>
    </div>

</div>