@model Przepisy.Data.Data.Uzytkownicy.Uzytkownik

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Uzytkownik</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazwaUzytkownika)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazwaUzytkownika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Haslo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Haslo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlAwataru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlAwataru)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rola.Nazwa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
