@model IEnumerable<Przepisy.Data.Data.Przepisy.Kuchnia>

@{
    ViewData["Title"] = "Index";
    var nazwaWidoku = "Zarządzaj rodzajami kuchnii";
}

<div class="w-full">

    <div class="hero bg-base-200 pb-3 pt-3 w-full">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <h1 class="text-5xl font-bold mb-3">@nazwaWidoku</h1>
                <a asp-action="Create" class="btn btn-primary mt-2 mb-3">Utwórz nowy</a>
            </div>
        </div>
    </div>


    <div class="overflow-x-auto pb-3 pt-6 w-full">
        <table class="table table-zebra">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                            <a class="btn btn-sm btn-secondary mb-2" asp-action="Edit" asp-route-id="@item.IdKuchni">Edytuj</a> <br />
                            <a class="btn btn-sm btn-warning" asp-action="Delete" asp-route-id="@item.IdKuchni">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>